.header
  %button.btn.btn-link.text-dark.p-0.d-md-none{type: "button", "data-bs-toggle" => "offcanvas", "data-bs-target" => "#sidebarOffcanvas", "aria-controls" => "sidebarOffcanvas"}
    %i.bi.bi-list{"style" => "font-size: 1.5rem;"}
  %h4.mb-0 うつわがたり | 店舗画面
  - if logged_in?
    .dropdown
      %button.btn.btn-link.text-dark.p-0{type: "button", "data-bs-toggle" => "dropdown", "aria-expanded" => "false"}
        %i.bi.bi-person-circle{"style" => "font-size: 1.5rem;"}
      %ul.dropdown-menu.dropdown-menu-end
        %li.dropdown-item.fw-bold= current_user.name
        %li
          = link_to "お問い合わせ", owner_inquiries_path, class: "dropdown-item"
        %li.dropdown-divider
        %li
          = button_to "ログアウト", owner_session_path(current_user), method: :delete, class: "dropdown-item text-danger border-0 bg-transparent w-100 text-start"
