.sidebar
  .body
    %a.link{href: owner_tablewares_path} うつわ
    %a.link{href: owner_categories_path} カテゴリー
    %a.link{href: owner_places_path} 保管場所
    %a.link{href: owner_users_path} ユーザー管理
    %a.link{href: "#"} お知らせ
    %a.link{href: owner_inquiries_path} お問い合わせ
    %a.link{href: owner_store_path} 設定