.sidebar
  .body
    %a.link{href: admin_stores_path} 店舗
    %a.link{href: admin_users_path} ユーザー
    %a.link{href: admin_tablewares_path} うつわ
    %a.link{href: "#"} お知らせ
    %a.link{href: admin_inquiries_path} お問い合わせ
    %a.link{href: "#"} 設定