= content_for :headings do
  .article-header-nav
    %ul.nav.nav-pills{:role => "tablist"}
      %li.nav-item
        %a.btn.btn-secondary{href: admin_stores_path} 戻る

.admin-container.mt-4
  .container
    .card
      .card-header
        店舗の編集
      .card-body
        = render 'form'
