= content_for :headings do
  %a.btn.btn-secondary{href: root_path} 戻る

.admin-container.store
  .container
    .title
      %h2 店舗一覧

    %table.table.table-striped
      %thead
        %tr
          %th 店舗名
          %th.show
      %tbody
        - @stores.each do |store|
          %tr
            %td= store.name
            %td.show
              %a.btn.btn-outline-secondary{href: admin_store_path(store.id)} 詳細
