.admin-container.store
  .container.mt-5
    .title
      %h2.mt-5 店舗一覧
    %a.link.back{href: root_path} 戻る

    %table.table.table-striped
      %thead
        %tr
          %th 店舗名
      %tbody
        - @stores.each do |store|
          %tr
            %a.link{href: admin_store_path(store.id)}
              %td= store.name
