.header
  height: 60px
  background-color: $primary
  position: fixed
  width: 100dvw
  display: flex
  align-items: center
  z-index: 1000
  h2
    margin-bottom: 0
  .container
    display: flex
    justify-content: space-between
    align-items: center
    button
      text-decoration: unset
      color: unset
    .header-nav
      display: flex
      align-items: center
      gap: 1.5rem
    .header-nav-item
      display: flex
      flex-direction: column
      align-items: center
      text-decoration: none
      color: black
      font-size: 11px
      background: none
      border: none
      padding: 0
      cursor: pointer
      svg
        width: 24px
        height: 24px

  .search-overlay
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0,0,0,0.6)
    z-index: 1000
    display: flex
    justify-content: center
    align-items: center

  .search-box
    background: white
    padding: 2rem
    border-radius: 0.5rem
    overflow-y: auto
    position: relative
    min-width: 300px
    legend
      border-bottom: solid 1px #333
      font-size: 20px
    .select2-container
      width: 100% !important
    .select2-selection--multiple
      .select2-selection__rendered
        display: flex
        flex-wrap: wrap
        gap: 4px
        padding: 4px

.btn-close
  position: absolute
  top: 10px
  right: 10px
  background: transparent
  border: none
  font-size: 20px
  color: #000
  cursor: pointer