.header
  height: 60px
  background-color: $primary
  position: fixed
  width: 100dvw
  display: flex
  align-items: center
  z-index: 1000
  h2
    margin-bottom: 0
  .container
    display: flex
    justify-content: space-between
    align-items: center
    button
      text-decoration: unset
      color: unset
    .header-nav
      display: flex
      align-items: center
      gap: 1.5rem
      +media-breakpoint-down(md)
        gap: 0.5rem
    .header-nav-item
      display: flex
      flex-direction: column
      align-items: center
      text-decoration: none
      color: black
      font-size: 11px
      background: none
      border: none
      padding: 0
      cursor: pointer
      svg
        width: 24px
        height: 24px
      &.bowl
        margin-bottom: 3px
        svg
          width: 34px
          height: 34px
    .user-nav-item
      position: relative
      .user-icon-wrapper
        position: relative
        display: flex
        flex-direction: column
        align-items: center
      .notification-badge
        position: absolute
        top: -2px
        right: -2px
        width: 10px
        height: 10px
        background-color: red
        border-radius: 50%
        &.pulse
          animation: pulse 1.5s infinite
@keyframes pulse
  0%
    transform: scale(1)
    opacity: 1
  50%
    transform: scale(1.4)
    opacity: 0.6
  100%
    transform: scale(1)
    opacity: 1


.search-overlay
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0,0,0,0.6)
  z-index: 1100
  display: flex
  justify-content: center
  align-items: center

.search-box
  background: white
  padding: 2rem
  border-radius: 0.5rem
  overflow-y: auto
  position: relative
  min-width: 300px
  legend
    border-bottom: solid 1px #333
    font-size: 20px
  .select2-container
    width: 100% !important
  .select2-selection--multiple
    .select2-selection__rendered
      display: flex
      flex-wrap: wrap
      gap: 4px
      padding: 4px

.btn-close
  position: absolute
  top: 10px
  right: 10px
  background: transparent
  border: none
  font-size: 20px
  color: #000
  cursor: pointer