.nav-tabs
  .nav-link
    color: black
    &.active
      background-color: $primary
      border-color: $primary $primary #fff
      color: black

.pagy-bootstrap
  .page-item
    .page-link
      color: black

    &.active .page-link
      background-color: $primary
      border-color: $primary
      color: black
