.container.index
  %h3.text-center うつわを探す
  .content
    %h3 うつわ一覧
    .tableware-list
      - if @tablewares.empty?
        %p.text-center うつわが見つかりませんでした。
      - else
        - @tablewares.each do |tw|
          %a.tableware-item{href: tableware_path(tw.id)}
            .image-content
              - if tw.images.present?
                .image= image_tag tw.images.first
              - else
                = image_tag "no-image.png", class: "image"
            .name= tw.name
            .category= card_value tw, :categories_info